<div>
  <mat-card class="card-company">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{company.name}}</mat-card-title>
      <mat-card-subtitle>{{company.category}} | {{company.cnpj}}</mat-card-subtitle> 
    </mat-card-header>

    <mat-card-content>
      {{company.description}}
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" matBadge="8" matBadgeColor="accent">SEGUIR</button>
      <button mat-raised-button color="primary" matBadge="8" matBadgeColor="accent">VAGAS</button>
    </mat-card-actions>

    <mat-card-footer>

    </mat-card-footer>
  </mat-card>
</div>