<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span>{{title}}</span>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- 
<mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile><app-company></app-company></mat-grid-tile>
    <mat-grid-tile><app-company></app-company></mat-grid-tile>
    <mat-grid-tile><app-company></app-company></mat-grid-tile>
    <mat-grid-tile><app-company></app-company></mat-grid-tile>
</mat-grid-list> -->

<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><app-company></app-company></mat-grid-tile>

    <app-company-list></app-company-list>

</mat-grid-list> -->
